<!DOCTYPE html>

{% extends 'Blog/base.html'%}

{% block title %} This is latest {% endblock %}
{% load static %}


{% block body %}

    <style>
    .dash {
        border: 1px dashed #000;
        width: 50%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .img {


     width: 100%;
     max-width: 400px;
     height: auto;
     padding-left: 10%;


  }

    </style>


<br>
<div class="container">
      <div class="jumbotron">
          <h1 class="display-4">Welcome </h1>
          <p class="lead">This is a simple hero unit, or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
     </div>
      <br>
    {% for post in posts %}
        <!--<article class="'media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="'text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
            </div>
            <h2><a class="'article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a> </h2>
                <h3>{{ post.sub_title }}</h3>
            <img class="profileimg" src="/media/{{ post.blog_image_1 }}">

              <h4>{{ post.attractiv_lines }}</h4>

             <p>
            <p class="article-content"></p>
            <a href="{% url 'post-detail' post.id%}" class="btn btn-primary">Continue Reading</a>
            <img class="rounded-circle article-img" src="{{ post.blog_image.url }}">
            <br>

         </article> -->


      <div class="row row-cols-1 row-cols-md-1">
        <div class="col mb-3"> <!-- This is for bottom -->
        <div class="card">
            <br>
            <h3>
                <a class="mr-2"  >&nbsp;
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" width="50" height="50">
                    <a href="{% url 'user-posts' post.author.username %}"> <font size="6"  face="Courier" color="#29206C"> &nbsp;{{post.author.first_name }}  {{post.author.last_name}}</font></a>
                </a>
            </h3>
            <hr  class="border border">

          <img src="/media/{{ post.blog_image_1 }}" class="img" alt="...">
          <div class="card-body">
              <!--<hr class="d-sm-none"> -->
              <hr  class="border border">
                <div>
                    <div class="card-title"><h3>{{ post.title }}</h3>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                     </div>
                </div>


              <p class="card-text">{{ post.content|linebreaks|truncatechars:200 }}<p></p></p>

          </div>
        </div>
        </div>


        </div>
<br>







        <div class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Modal body text goes here.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>





    {% endfor %}
     {% if is_paginated %}

       {%if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1"> First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{  page_obj.previous_page_number }}"><< Previous</a>
       {% endif %}


       {% if page_obj.has_next %}

                <span class="btn btn-dark mb-4">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next >></a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last </a>
       {% endif %}


    {% endif %}




</div>

{% endblock %}